<h1>Index Employees</h1>

@{
    ViewData["Title"] = "Listado De Employees";
}

<div class="container text-center">
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        
            <div class="col-md-4 border">
                <a asp-controller="Employees" asp-action="Create" class="btn btn-primary">Crear Empleados</a> <br>
                <a asp-controller="Employees" asp-action="Index" class="btn btn-primary">Listado De Empleados</a>
            </div>
            <div class="col-md-9 border">
                <table class="table">
                    <form asp-action="Search" method="get">
                        <div class="input-group">
                            <input type="search" class="form-control" name="searchString" placeholder="Buscar Usuario...">
                            <button type="submit" class="btn btn-primary">Buscar</button>
                        </div>

                    </form>
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Salario</th>
                            <th scope="col">Email</th>                            
                            <th scope="col">Acciones</th>   
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Employe in Model)
                        {
                        <tr>
                            <th scope="row">@Employe.Id</th>
                            <td>@Employe.Name</td>
                            <td>@Employe.LastName</td>
                            <td>@Employe.Cedula</td>
                            <td>@Employe.Email</td>
                            <td>
                                <a class="btn text-dark btn-light" asp-area="" asp-controller="Employees" asp-action="Details" asp-route-id="@Employe.Id">Detalles</a>
                                <a class="btn text-ligtht btn-dark" asp-area="" asp-controller="Employees" asp-action="Edit" asp-route-id="@Employe.Id">Editar</a>
                                <a class="btn text-dark" asp-area="" asp-controller="Employees" asp-action="Delete" asp-route-id="@Employe.Id">Eliminar</a>
                            </td>
                        </tr>
                        }
                    <tbody>     
                </table>
            </div>
        
    </div>
<